/* FORM SECTION */
#input-grid {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;

}
.contact-form {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 650px;
    max-width: 100%;
}

.form-group {
    margin-bottom: 15px;
    /* display: flex;
    justify-content: center; */
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    font-size: 18px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    display: inline-block;
    width: calc(50% - 15px);
    margin-right: 10px;
}

.form-group input[type="text"]:nth-child(2) {
    margin-right: 0;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.submit-button:hover {
    color: black;
    background-color: white;
    stroke: green;
    stroke-width: 20px;
}


/* FOOTER SECTION */
#footer{
    min-height: 50vh;
    background-color: #222222;

}

#footer footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    color: white;
    padding: 100px 150px;
    margin: 0 auto;
}

#footer .info{
    width: 45%;
}

footer .info .logo img{
    height: fit-content;
    width: 300px;
    margin-bottom: 20px;
}

footer .info .footer-text{
    width: 80%;
    line-height: 25px;
}

footer .info .fa-brands{
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
}

footer .info .fa-brands:not(:last-child){
    margin-right: 15px;
}

footer .info .fa-brands:hover{
    color: green;
}

footer .quick-links{
    width: 30%;
    padding: 30px 20px;
}

.quick-links h2{
    margin-bottom: 30px;
    color: green;
    font-size: 30px;
}

.quick-links .links{
    display: flex;
    gap: 80px;
    /* justify-content: space-between; */
    /* width: 100%; */
}

.quick-links .links li{
    list-style: none;
}

.links .fa-solid{
    color: green;
    margin-right: 5px;
}

.links li:not(:last-child){
    margin-bottom: 18px;
}

.links li a{
    color: #fff;
    text-decoration: none;
}

.links ul li a:hover{
    color: green;
}

footer .address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

footer .address h3{
    font-size: 25px;
}

footer .address .fa-solid{
    margin-right: 5px;
    color: green;
}

footer .address .phone-contact span{
    margin-left: 30px;
}

footer .address .email-contact span{
    margin-left: 30px;
}