* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-variation-settings:
    "wdth" 100; */
}


/* NAIGATION BAR */
nav {
    display: flex;
    align-items: center;
    /* gap: 30px; */
    position: fixed;
    align-items: center;
    padding: 10px 70px;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #333;
    z-index: 60;
}

#logo {
    align-items: center;
    max-height: 50px;
}

#left-nav-links, #right-nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

#left-nav-links li a, #right-nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s ease
}

nav ul li a:hover{
    background-color: green;
    /* color: green; */
    padding: 15px;
}


/* HERO SECTION */
#hero {
    background-image: url(../assets/images/hero-bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size:cover;   
}

#hero-overlay {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 50px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p {
    font-size: 22px;
    padding-top: 40px;
    color: green;
}

.h {
    padding-top: 40px;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 70px;
}

.pp {
    font-size: 18px;
    /* padding-top: 40px; */
    color: white;
}

.button {
    margin-top: 40px;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: green;
    color: white;
    font-size: 22px;
    border: none;
}

.button:hover {
    color: black;
    background-color: white;
    border: 2px solid green;
    
}

